@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 243, 243;
  --background-rgb: 29,29,31;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'archivo-black', sans-serif;
}



@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
