@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 243, 243;
  --background-rgb: 29,29,31;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'archivo-black', sans-serif;
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, 
.swiper-button-prev {
  padding: 30px;
  color: #1D1D1F;
  background: #f3f3f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover {
  color: #1D1D1F;
  background: #BDF704;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 640px) {
  .swiper-button-next:hover, 
  .swiper-button-prev:hover {
    color: #1D1D1F;
    background: #f3f3f3;
  }
  

}


@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
